
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>申请退课</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <input id="Hidden1" value="@ViewBag.ConsumerName" type="hidden" />
    <div style="float:right;margin-right:20px">
        <button type="button" id="TiJiao" class="layui-btn layui-btn-primary">提交</button>
    </div>
    <div style="float:right;margin-right:20px">
        <button onclick="location.href='/TeachingM/ClassRoomShow'" type="button" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i>返回</button>
    </div>
    <fieldset id="XY" class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
        <legend>申请退课</legend>
    </fieldset>
    <form class="layui-form" action="">
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz1">
                        <option selected value="">请选择机构</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz2">
                        <option value="">请选择业务类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz3">
                        <option value="">请选择班型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz4">
                        <option value="-1">请选择课程类别</option>
                        <option value="1">试听课</option>
                        <option value="2">正式课</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz5">
                        <option value="">请选择课时类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz6">
                        <option value="-1">请选择课堂状态</option>
                        <option value="1">以上课</option>
                        <option value="2">以排课</option>
                        <option value="3">以备课</option>
                        <option value="4">以上课</option>
                        <option value="5">未上课</option>
                        <option value="6">已取消</option>
                        <option value="7">以退课</option>
                        <option value="8">返还课</option>
                    </select>
                </div>
            </div>
        </div>


        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz7">
                        <option value="">请选择年级</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz8">
                        <option value="">请选择学科</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date1" lay-verify="date" placeholder="上课时间-->" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-form-mid">至</div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="<--上课时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="username" lay-verify="required" placeholder="任课教师" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="XueYuan" lay-verify="required" placeholder="学员姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="Banzhu" lay-verify="required" placeholder="班主任" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div id="demoTable" style="float:right;margin-right:100px">
            <button class="layui-btn" data-type="reload" id="sel">检索</button>
        </div>
        <br />
        <br />
        <fieldset id="XY" class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
            <legend style="color:red">*请选择退课课程</legend>
        </fieldset>
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <fieldset id="YXZ" class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
            <legend>已选中课程(0)</legend>
        </fieldset>
        <table class="layui-table-click" id="test1" lay-filter="test1"></table>
        <script type="text/html" id="barDemo1">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <fieldset i class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
            <legend>备注</legend>
        </fieldset>
        <div>
            <div style="float:left;margin-left:30px">
                备注:
            </div>
            <div style="float:left;width:500px;height:20px;margin-left:50px;margin-bottom:200px">
                <textarea  cols="40" rows="5" id="note"
                          name="note" maxlength="100" value=""
                          onkeyup="this.value=this.value.substring(0, 100)"
                          placeholder="最多可输入100字"></textarea><span id="text-count"  value="">0</span>/100               
            </div>
        </div>
   
    </form>
    <script>

        //字数限制
        window.onload = function () {
            //（document）
            document.getElementById('note').onkeyup = function () {
                document.getElementById('text-count').innerHTML = this.value.length;
            }
            //（jquery）
            $('#note2').keyup(function () {
                //    var val=$('#note2').val();
                //    var len=val.length;
                var len = this.value.length
                $('#text-count2').text(len);

            })
        }

        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var table = layui.table;
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.$;
            Organ();
            BusinessType()
            ClassModel()
            HourType()
            Study()
            Subjects()
            function Organ() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Organ",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz1").empty();
                        $("#quiz1").append("<option value='-1'>请选择机构</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.organId + '>' + this.organName + '</option>';
                            $("#quiz1").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function BusinessType() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/BusinessType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz2").empty();
                        $("#quiz2").append("<option value='-1'>请选择业务类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.businessTypeId + '>' + this.businessTypeName + '</option>';
                            $("#quiz2").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function ClassModel() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/ClassModel",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz3").empty();
                        $("#quiz3").append("<option value='-1'>请选择班型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.classModelId + '>' + this.classModelName + '</option>';
                            $("#quiz3").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function HourType() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/HourType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz5").empty();
                        $("#quiz5").append("<option value='-1'>请选择课时类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.hourTypeId + '>' + this.hourTypeName + '</option>';
                            $("#quiz5").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Study() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Study",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz7").empty();
                        $("#quiz7").append("<option value='-1'>请选择年级</option>");
                        $(d).each(function () { 
                             var list = '<option value=' + this.stID + '>' + this.studyName + '</option>';
                              $("#quiz7").append(list);    
                                                                       
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Subjects() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Subjects",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz8").empty();
                        $("#quiz8").append("<option value='-1'>请选择学科</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.subjectsId + '>' + this.subjectsName + '</option>';
                            $("#quiz8").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            ///TeachingM/ClassRoomShow
            //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
            //详见：https://www.layui.com/doc/modules/table.html#totalRow
            table.render({
                elem: '#test'
                , url: "@ViewBag.Str/TeachingM/ReturnClass"
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    , { field: 'ASID', title: '序号', width: 36 }
                    , { field: 'Data', title: '上课日期', width: 100 }
                    , { field: 'AuditionClass', title: '上课主题', width: 100 }
                    , { field: 'StudentName', title: '学员姓名', width: 100 }
                    , { field: 'StudyName', title: '年级', width: 100 }
                    , { field: 'SubjectsName', title: '学科', width: 100 }
                    , { field: 'TeacherName', title: '任课老师', width: 100 }
                    , { field: 'OrganPhoneName', title: '班主任', width: 100 }
                    , { field: 'HourTypeName', title: '课时', width: 100 }
                    , { field: 'BusinessTypeName', title: '业务类型', width: 100 }
                    , { field: 'ClassModelName', title: '班型', width: 100 }
                    , { field: 'AuditionType', title: '课程类别', width: 100 }
                    , { field: 'HourTypeName', title: '课时类型', width: 100 }
                    , {
                        field: 'AuditionState', title: '课堂状态', width: 100, templet: function (d) {
                            if (d.AuditionState == 2) {
                                return "已排课"
                            }
                            if (d.AuditionState == 3) {
                                return "已备课"
                            }
                            if (d.AuditionState == 4) {
                                return "已上课"
                            }
                            if (d.AuditionState == 5) {
                                return "未上课"
                            }
                            if (d.AuditionState == 1) {
                                return "已上课"
                            }
                        }
                    }                 
                    , { field: 'OrganName', title: '机构', width: 100 }
                ]]
                , page: true
                , limit: 2
                , limits: [1, 3, 6]
                , id: 'testReload'
                , request: {
                    pageName: 'PageIndex' //页码的参数名称，默认：page
                    , limitName: 'PageSize' //每页数据量的参数名，默认：limit
                }

            });
            table.render({
                elem: '#test1'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    , { field: 'ASID', title: '序号', width: 36 }
                    , { field: 'Data', title: '上课日期', width: 100 }
                    , { field: 'AuditionClass', title: '上课主题', width: 100 }
                    , { field: 'StudentName', title: '学员姓名', width: 100 }
                    , { field: 'StudyName', title: '年级', width: 100 }
                    , { field: 'SubjectsName', title: '学科', width: 100 }
                    , { field: 'TeacherName', title: '任课老师', width: 100 }
                    , { field: 'OrganPhoneName', title: '班主任', width: 100 }
                    , { field: 'HourTypeName', title: '课时', width: 100 }
                    , { field: 'BusinessTypeName', title: '业务类型', width: 100 }
                    , { field: 'ClassModelName', title: '班型', width: 100 }
                    , { field: 'AuditionType', title: '课程类别', width: 100 }
                    , { field: 'HourTypeName', title: '课时类型', width: 100 }
                    , {
                        field: 'AuditionState', title: '课堂状态', width: 100, templet: function (d) {
                            if (d.AuditionState == 2) {
                                return "已排课"
                            }
                            if (d.AuditionState == 3) {
                                return "已备课"
                            }
                            if (d.AuditionState == 4) {
                                return "已上课"
                            }
                            if (d.AuditionState == 5) {
                                return "未上课"
                            }
                            if (d.AuditionState == 1) {
                                return "已上课"
                            }
                        }
                    }
                    , { field: 'AuditTime', title: '审核时间', width: 100 }
                    , { field: 'OrganName', title: '机构', width: 100 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo1', width: 150 }
                ]]
                , page: true
                , limit: 2
                , limits: [1, 3, 6]
                , id: 'bb'
                , request: {
                    pageName: 'PageIndex' //页码的参数名称，默认：page
                    , limitName: 'PageSize' //每页数据量的参数名，默认：limit
                }

            });
            ///// /
            //////
            /////// 设置变量存储已选择列表的数据

            var dataBak = [];
            // 监听表格点击事件
            table.on('row(test)', function (obj) {

                var data = obj.data;

                var cc = table.cache.bb;
                if (cc != undefined) {
                    for (var i = 0; i < cc.length; i++) {
                        if (cc[i].ASID == data.ASID) {
                            layer.msg("请勿重复添加！", { icon: 0, time: 1500 });
                            return false;
                        }
                        if (cc[i].ASID != data.ASID) {
                            dataBak.push(data);
                        }
                    }
                } else {
                    dataBak.push(data);
                }

                // 表格重载
                table.reload('bb', {
                    data: dataBak,

                })
                // 表格选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');

                var pp = table.cache.bb;
                var ppp = pp.length;
                $("#YXZ").empty();
                var sql = " <legend>已选中课程(" + ppp + ")</legend>";
                $("#YXZ").append(sql);


            });

            //监听提交查询
            $('#sel').on('click', function () {
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        OrganName: $("#quiz1").val(),
                        BusinessTypeName: $("#quiz2").val(),
                        ClassModelName: $("#quiz3").val(),
                        AuditionType: $("#quiz4").val(),
                        HourTypeName: $("#quiz5").val(),
                        AuditionState: $("#quiz6").val(),
                        StudyName: $("#quiz7").val(),
                        SubjectsName: $("#quiz8").val(),
                        StudentName: $("#XueYuan").val(),
                        OrganPhoneName: $("#Banzhu").val(),
                        TeacherName: $("#username").val(),
                        AuditionTime1: $("#date1").val(),
                        AuditionTime: $("#date").val(),

                    }

                });
                return false;
            });

            //监听行工具事件
            table.on('tool(test1)', function (obj) {

                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        var pp = table.cache.bb;
                        for (var i = 0; i < pp.length; i++) {
                            if (data.ASID == pp[i].ASID) {
                                pp.splice(i, 1);
                                layer.msg("删除成功！", { icon: 0, time: 1500 });

                                var ppp = pp.length;
                                $("#YXZ").empty();
                                var sql = " <legend>已选中课程(" + ppp + ")</legend>";
                                $("#YXZ").append(sql);

                            }
                        }
                        table.reload('bb', {
                            data: pp,
                        })


                    });
                }


            });
            //提交
            $("#TiJiao").click(function () {
                var pp = table.cache.bb;
                var Beizhu = document.getElementById('note').value;
                var dd = 0;
              
                var date ="@(DateTime.Now)";
                if (pp == undefined) {
                    layer.msg("请选择输入进行提交", { icon: 0, time: 1500 });
                    return false;
                }
                var dt = $("#text-count").text();
                if (dt =="0" || dt == null) {
                    layer.msg("备注不能为空", { icon: 0, time: 1500 });
                    return false;
                }
                if (confirm("确认提交嘛")) {

                    for (var i = 0; i < pp.length; i++) {
                        var DropClass = {
                            ASID: pp[i].ASID,
                            organid: pp[i].OrganId,
                            AuditorDropdateTime: date,
                            Remark: Beizhu,
                            DropClassstate: false,
                            proposer: $("#Hidden1").val(),
                            AuditorDrop: document.getElementById('note').value,

                        };

                    $.ajax({
                        url: "@ViewBag.Str/TeachingM/DropClass",
                        type: "post",
                        data: JSON.stringify(DropClass),
                        async: false,
                        contentType: "application/json",
                        success: function (d) {
                            dd = d;
                        }

                    })


                }
                }

                if (dd > 0) {
                    layer.msg("添加成功", { icon: 0, time: 1500 });
                }

            })

        })
    </script>
</body>
</html>
