
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassRoomShow</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <form class="layui-form" action="">
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz1">
                        <option selected value="">请选择机构</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz2">
                        <option value="">请选择业务类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz3">
                        <option value="">请选择班型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz4">
                        <option value="-1">请选择课程类别</option>
                        <option value="1">试听课</option>
                        <option value="2">正式课</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz5">
                        <option value="">请选择课时类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz6">
                        <option value="-1">请选择课堂状态</option>
                        <option value="1">以上课</option>
                        <option value="2">以排课</option>
                        <option value="3">以备课</option>
                        <option value="4">以上课</option>
                        <option value="5">未上课</option>
                        <option value="6">已取消</option>
                        <option value="7">以退课</option>
                        <option value="8">返还课</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz7">
                        <option value="">请选择年级</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz8">
                        <option value="">请选择学科</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date1" lay-verify="date" placeholder="上课时间-->" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-form-mid">至</div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="<--上课时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="username" lay-verify="required" placeholder="任课教师" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="XueYuan" lay-verify="required" placeholder="学员姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="Banzhu" lay-verify="required" placeholder="班主任" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div id="demoTable" style="float:right;margin-right:100px">
            <button class="layui-btn" data-type="reload" id="sel">检索</button>
        </div>
        <br />
        <br />
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <button type="button" onclick="location.href='/TeachingM/ApplyDropClass'" class="layui-btn layui-btn-primary layui-btn-sm">申请退课</button>
        &nbsp;  &nbsp;  &nbsp;
        <button type="button" onclick="location.href='/TeachingM/ApplyReturn'" class="layui-btn layui-btn-primary layui-btn-sm">申请返还课</button>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>  
    </script>
    <script>

        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var table = layui.table;
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.$;
            Organ();
            BusinessType()
            ClassModel()
            HourType()
            Study()
            Subjects()
            function Organ() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Organ",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz1").empty();
                        $("#quiz1").append("<option value='-1'>请选择机构</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.organId + '>' + this.organName + '</option>';
                            $("#quiz1").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function BusinessType() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/BusinessType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz2").empty();
                        $("#quiz2").append("<option value='-1'>请选择业务类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.businessTypeId + '>' + this.businessTypeName + '</option>';
                            $("#quiz2").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function ClassModel() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/ClassModel",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz3").empty();
                        $("#quiz3").append("<option value='-1'>请选择班型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.classModelId + '>' + this.classModelName + '</option>';
                            $("#quiz3").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function HourType() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/HourType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz5").empty();
                        $("#quiz5").append("<option value='-1'>请选择课时类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.hourTypeId + '>' + this.hourTypeName + '</option>';
                            $("#quiz5").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Study() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Study",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz7").empty();
                        $("#quiz7").append("<option value='-1'>请选择年级</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.stID + '>' + this.studyName + '</option>';
                            $("#quiz7").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Subjects() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Subjects",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz8").empty();
                        $("#quiz8").append("<option value='-1'>请选择学科</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.subjectsId + '>' + this.subjectsName + '</option>';
                            $("#quiz8").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            ///TeachingM/ClassRoomShow
            //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
            //详见：https://www.layui.com/doc/modules/table.html#totalRow
            table.render({
                elem: '#test'
                , url: '@ViewBag.Str/TeachingM/ManagementShow'
                , cols: [[
                    , { field: 'ASID', title: '序号', width: 36 }
                    , { field: 'Data', title: '上课日期', width: 100 }
                    , { field: 'AuditionClass', title: '上课主题', width: 100 }
                    , { field: 'StudentName', title: '学员姓名', width: 100 }
                    , { field: 'StudyName', title: '年级', width: 100 }
                    , { field: 'SubjectsName', title: '学科', width: 100 }
                    , { field: 'TeacherName', title: '任课老师', width: 100 }
                    , { field: 'OrganPhoneName', title: '班主任', width: 100 }
                    , { field: 'HourTypeName', title: '课时', width: 100 }
                    , { field: 'BusinessTypeName', title: '业务类型', width: 100 }
                    , { field: 'ClassModelName', title: '班型', width: 100 }
                    , { field: 'AuditionType', title: '课程类别', width: 100 }
                    , { field: 'HourTypeName', title: '课时类型', width: 100 }
                    , {
                        field: 'AuditionState', title: '课堂状态', width: 100, templet: function (d) {
                            if (d.AuditionState == 2) {
                                return "已排课"
                            }
                            if (d.AuditionState == 3) {
                                return "已备课"
                            }
                            if (d.AuditionState == 4) {
                                return "已上课"
                            }
                            if (d.AuditionState == 5) {
                                return "未上课"
                            }
                            if (d.AuditionState == 1) {
                                return "已上课"
                            }
                        }
                    }                   
                    , { field: 'OrganName', title: '机构', width: 100 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
                ]]
                , page: true
                , limit: 2
                , limits: [1, 3, 6]
                , id: 'testReload'
                , request: {
                    pageName: 'PageIndex' //页码的参数名称，默认：page
                    , limitName: 'PageSize' //每页数据量的参数名，默认：limit 
                }

            });          
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'edit') {
                    location.href = "/TeachingM/SelClassRoom?Name=" + data.StudentId;
                }
            });

            var AuditionTime1=$("#date1").val();
            var AuditionTime=$("#date").val();
            //if (AuditionTime1 > TODAY()) {
            //    layer.msg('前者不能大于后者');
            //    return false;
            //}
            //监听提交查询
            $('#sel').on('click', function () {
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        OrganName: $("#quiz1").val(),
                        BusinessTypeName: $("#quiz2").val(),
                        ClassModelName: $("#quiz3").val(),
                        AuditionType: $("#quiz4").val(),
                        HourTypeName: $("#quiz5").val(),
                        AuditionState: $("#quiz6").val(),
                        StudyName: $("#quiz7").val(),
                        SubjectsName: $("#quiz8").val(),
                        StudentName: $("#XueYuan").val(),
                        OrganPhoneName: $("#Banzhu").val(),
                        TeacherName: $("#username").val(),
                        AuditionTime1: $("#date1").val(),
                        AuditionTime: $("#date").val(),

                    }
               
                });
                return false;
            });

        });

    </script>
</body>

</html>
