
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckIndex</title>
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <table class="layui-hide" id="test1" lay-filter="test"></table>

    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block" style="width:500px">
                <input type="hidden"  id="Auditor" value="@ViewBag.Auditor" />
                <textarea class="layui-textarea" name="OrdersRemark" id="OrdersRemark"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="cancel"  lay-filter="demo1">取消</button>
                <button type="button" class="layui-btn" id="refuse"  value="1" lay-filter="demo2">审核拒绝</button>
                <button type="button" class="layui-btn"  id="pass" value="2" lay-filter="demo3">审核通过</button>
            </div>
        </div>
    </form>

    <script>
        layui.use(['form', 'layer', 'table'], function () {
            var form = layui.form
                , layer = layui.layer
                , table = layui.table;

            var arr = location.href.split("/");
            var id = arr[arr.length - 1];

            //方法级渲染/学员信息
            table.render({
                elem: '#test'
                , url: '@ViewBag.Str/api/GetOrderaViews?id=' + id
                , contentType: "application/json"
                , method: 'get'
                , cols: [[
                    { checkbox: true, fixed: true }
                    , { field: 'StudentIphone', title: '学生账号', width: 150 }
                    , { field: 'StudentName', title: '学生姓名', width: 100 }
                    , { field: 'OrganName', title: '所属机构', width: 100 }
                    , { field: 'StudyName', title: '年级 ', width: 80 }
                    , { field: 'BusinessTypeName', title: '业务名称', width: 100 }
                    , { field: 'ClassModelName', title: '班型 ', width: 80 }
                    , { field: 'StudyName', title: '学段', width: 80 }
                    , { field: 'HourTypeName', title: '课时类型', width: 100 }
                    , { field: 'PricingPrice', title: '课时单价', width: 100 }
                    , { field: 'PeriodNum', title: '课时数', width: 100 }
                    , { field: 'ComplimentaryPeriod', title: '赠送课时数', width: 120 }
                    , { field: 'CommodityPrice', title: '商品总价', width: 100 }
                    , { field: 'AmountPayable', title: '应付金额', width: 100 }
                    , { field: 'AmountActually', title: '实付金额', width: 100 }
                    , { field: 'PreferentialPrice', title: '优惠价', width: 100 }
                ]]
                , page: true
            });
            //方法级渲染/商品信息
            table.render({
                elem: '#test1'
                , url: '@ViewBag.Str/api/GetOrderaViews?id=' + id
                , contentType: "application/json"
                , method: 'get'
                , cols: [[
                    { checkbox: true, fixed: true }
                    , { field: 'OrderNO', title: '订单编号', width: 170 }
                    , { field: 'OrderAmount', title: '订单金额', width: 100 }
                    , { field: 'AmountPayable', title: '应付金额', width: 100 }
                    , { field: 'AmountActually', title: '实付金额', width: 100 }
                    , {
                        field: 'StateOfPayment', title: '支付状态', width: 100,
                        templet: function (data) {
                            if (data.StateOfPayment == 1) {
                                return "已支付";
                            } else if (data.StateOfPayment == 2) {
                                return "已返还";
                            } else {
                                return "未支付";
                            }
                        }
                    }
                    , {
                        field: 'OrderStatus', title: '订单状态', width: 100,
                        templet: function (data) {
                            if (data.OrderStatus == 0) {
                                return "待审核";
                            } else if (data.OrderStatus == 1) {
                                return "审核拒绝";
                            } else if (data.OrderStatus == 2) {
                                return "审核通过";
                            } else {
                                return "已取消";
                            }
                        }
                    }
                    , {
                        field: 'OrderTime', title: '下单时间', width: 150,
                        templet: "<div>{{layui.util.toDateString(d.OrderTime, 'yyyy-MM-dd')}}</div> "
                    }
                    , { field: 'buyer', title: '下单人', width: 100 }
                    , { field: 'OrganName', title: '下单机构', width: 100 }
                ]]
                , page: true
            });

            var $ = layui.$;
             //返回审核页面
            $("#cancel").on('click', function () {
                location.href = "/IndentM/OrderAudit";
                return false;
            });
            //审核拒绝
            $("#refuse").on('click', function () {
                var str = {};
                str.OrderId = Number(id);
                str.Auditor = $("#Auditor").val();              //审核人
                str.OrdersRemark = $("#OrdersRemark").val();
                str.OrderStatus = Number( $("#refuse").val());  //获取按钮的value值
                //ajax修改审核状态
                $.ajax({
                    url: '@ViewBag.Str/api/UpdateOrderStatus',
                    contentType: "application/json",
                    type: 'post',
                    data: JSON.stringify(str),
                    success: function (d) {
                        if (d > 0) {
                            alert('执行成功');
                            location.href = "/IndentM/OrderAudit";
                        }
                        else {
                            alert('执行失败');
                        }
                    }
                });
                return false;
            });
            //审核通过
            $("#pass").on('click', function () {
                var str = {};
                str.OrderId = Number(id);
                str.OrdersRemark = $("#OrdersRemark").val();
                str.Auditor = $("#Auditor").val();              //审核人
                str.OrderStatus = Number( $("#pass").val());  //获取按钮的value值
                //ajax修改审核状态
                $.ajax({
                    url: '@ViewBag.Str/api/UpdateOrderStatus',
                    contentType: "application/json",
                    type: 'post',
                    data: JSON.stringify(str),
                    success: function (d) {
                        if (d > 0) {
                            alert('执行成功');
                            location.href = "/IndentM/OrderAudit";
                        }
                        else {
                            alert('执行失败');
                        }
                    }
                });
                return false;
            });





        });
    </script>

</body>
</html>
