
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>修改班级信息</title>
</head>
<body>

</body>
</html>
<form class="layui-form" action="" lay-filter="example" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">序号</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" readonly="readonly" name="ClassRoomId" id="ClassRoomId" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构</label>
        <div class="layui-input-inline">
            <select id="OrganId" name="OrganId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="ClassRoomName" id="ClassRoomName" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年级</label>
        <div class="layui-input-inline">
            <select id="StID" name="StID" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">科目名称</label>
        <div class="layui-input-inline">
            <select id="SubjectsId" name="SubjectsId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">版本</label>
        <div class="layui-input-inline">
            <select id="TextbookId" name="TextbookId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学期</label>
        <div class="layui-input-inline">
            <select id="SemesterId" name="SemesterId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任课教师</label>
        <div class="layui-input-inline">
            <select id="TeacherId" name="TeacherId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">课时包</label>
        <div class="layui-input-inline">
            <select id="HourId" name="HourId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="login" lay-submit="" onclick="location.href='/Institution/ClassManagementShow'">取消</button>
            <button type="button" class="layui-btn" id="btn">保存</button>
        </div>
    </div>
</form>
<script>
    var $ = layui.$;
    //绑定机构
    function GetOrganId() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/OrganMods',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.organId + '">' + this.organName + "</option>";
                    $("#OrganId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定年级
    function GetStID() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetRoomStudys',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.stID + '">' + this.studyName + "</option>";
                    $("#StID").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定科目
    function GetSubjects() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetSubjects',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.subjectsId + '">' + this.subjectsName + "</option>";
                    $("#SubjectsId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定版本
    function GetTextbook() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetTextbookMod',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.textbookId + '">' + this.textbookName + "</option>";
                    $("#TextbookId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定学期
    function GetSemester() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetSemesters',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.semesterId + '">' + this.semesterName + "</option>";
                    $("#SemesterId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定课时包
    function GetHourId() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetHourTableMods',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.hourId + '">' + this.hourName + "</option>";
                    $("#HourId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
     var $ = layui.$;
    //绑定任课教师
    function GetTeacher() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/TeacherMods',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.teacherId + '">' + this.teacherName + "</option>";
                    $("#TeacherId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
    layui.use(['form', 'upload', 'layer', 'table'], function () {
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        GetOrganId();
        GetStID();
        GetSubjects();
        GetTextbook();
        GetSemester();
        GetTeacher();
        GetHourId();
        var $ = layui.$;
        $.ajax({
            url: "@ViewBag.Str/api/ModifyIdClassRoomMod?id=" + @ViewBag.id,
            type: "get",
            contentType: 'application/json',
            async: false,
            dataType: "json",
            success:
                function (d) {
                    form.val('example', {
                        "ClassRoomId": d.classRoomId
                        ,"OrganId": d.organId
                        , "ClassRoomName": d.classRoomName
                        , "StID": d.stID
                        , "SubjectsId": d.subjectsId
                        , "TextbookId": d.textbookId
                        , "SemesterId": d.semesterId
                        , "HourId": d.hourId
                        , "TeacherId": d.teacherId
                    });
                }
        });
        //监听提交
        $('#btn').on('click', function () {
            var obj = {};
            obj.classRoomId = Number($("#ClassRoomId").val());
            obj.organId = Number($("#OrganId").val());
            obj.classRoomName = $("#ClassRoomName").val();
            obj.stID = Number($("#StID").val());
            obj.subjectsId = Number($("#SubjectsId").val());
            obj.textbookId = Number($("#TextbookId").val());
            obj.semesterId = Number($("#SemesterId").val());
            obj.hourId = Number($("#HourId").val());
            obj.teacherId = Number($("#TeacherId").val());
            //console.log(obj);
            $.ajax({
                url: "@ViewBag.Str/api/ModifyClassRoomMod",
                type: "post",
                async: false,
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success:
                    function (d) {
                        if (d > 0) {
                            layer.msg("修改成功", { icon: 0, time: 1500 });
                            location.href = '/Institution/ClassManagementShow';
                        }
                        else {
                            layer.msg("修改失败", { icon: 0, time: 1500 });
                        }
                    }
            });
        });
    });

</script>
